<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>What's That in Hot Dogs?</title>

  <script src="public/javascripts/vendor/jquery-1.6.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="public/javascripts/vendor/jquery-ui-1.8.18.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="public/javascripts/vendor/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="public/javascripts/vendor/backbone-min.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="public/javascripts/models.js" type="text/javascript" charset="utf-8"></script>
  <script src="public/javascripts/views.js" type="text/javascript" charset="utf-8"></script>
  <script src="public/javascripts/router.js" type="text/javascript" charset="utf-8"></script>
  
  
  <script type="text/template" charset="utf-8" id="players-template">
    <h3>Players</h3>
    <ul class="players"></ul>
  </script>
  
  <script type="text/template" id="player-template">
    <div class="player">
      <div class="name">
        <%= player_full_name %>
      </div>
      <div class="salary">
        <%= hotdog_salary %> hot dogs
      </div>
    </div>
  </script>

  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      window.players.fetch();
    })
  </script>
  
</head>
<body>
  <h1>What&rsquo;s that in hot dogs?</h1>
  <p>Search for your favorite player and see how many hot dogs they cost.</p>

  <form action="" method="get" accept-charset="utf-8">
    <input type="search" name="" id="" value="" />
    <input type="submit" />
  </form>
  
  <section id="container">
    
  </section>

  <section>
    <ul>
      <li></li>
    </ul>
  </section>

  <section class="player">
    <h2>Player name</h2>

    <ul class="hotdog">
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
      <li>hot dog</li>
    </ul>

    <aside>
      <p>1 <span>hot dog</span> = 10,000 real hot dogs</p>
    </aside>
  </section>
  <footer>
    
  </footer>
</body>
</html>

