body {
  text-align: center;
  font: $body-font-size $body-font-family;

  section.content {
    margin: 0 auto;
    max-width: $fg-max-width;

    header {
      margin: 0 auto 20px;
      max-width: 900px;
      text-align: left;

      h1 {
        font: 72px $header-font-family;
        margin: 60px 0 -10px;
        color: $dark-gray;
      }

      p {
        font-size: 18px;
        color: lighten($dark-gray, 40%);
        margin-left: .5em;
      }
    }

    form {
      input[type="search"] {
        border: none;
        @include border-radius(3px);
        font: 24px $header-font-family;
      }

      input[type="submit"]{
        
      }
    }

    section.example-players {
      h3 {
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
      }

      ul {
        @extend .clearfix;

        li {
          list-style: none;
          width: flex-grid(4);
          float: left;
          text-align: left;
          margin-right: flex-gutter();

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    section.player {
      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          width: 16px;
        }
      }
    }
  }
}
