body {
  text-align: center;

  section.content {
    margin: 0 auto;
    max-width: $fg-max-width;

    header {
      h1 {
        font: bold 34px Helvetica, Arial, sans-serif;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }
    }

    form {
    }

    section.example-players {
      h3 {
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
      }

      ul {
        @extend .clearfix;

        li {
          list-style: none;
          width: flex-grid(4);
          float: left;
          text-align: left;
          margin-right: flex-gutter();

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    section.player {
      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          width: 16px;
        }
      }
    }
  }
}
