body {
  text-align: center;
  font: $body-font-size $body-font-family;

  section.content {
    margin: 0 auto;
    max-width: $fg-max-width;

    header.main {
      margin: 0 auto 20px;
      max-width: 900px;
      text-align: left;

      h1 {
        font: 72px $header-font-family;
        margin: 60px 0 -10px;
        color: $dark-gray;
      }

      p {
        font-size: 18px;
        color: lighten($dark-gray, 40%);
        margin-left: .5em;
      }
    }

    form {
      input[type="text"] {
        border: 1px solid #ccc;
        @include border-radius(3px);
        font: 24px $body-font-family;
        padding: 6px 8px;
        -webkit-font-smoothing: antialiased;
        width: flex-grid(6);
      }

      input[type="submit"] {
        @include border-radius(3px);
        font: 24px $header-font-family;
        padding: 8px 14px;
        border: 1px solid #333;
        @include box-shadow(inset 0 1px 0 lighten($dark-gray, 20%));
        line-height: 1em;
        background: $dark-gray;
        color: #fff;
        text-shadow: 0 -1px 0 darken($dark-gray, 20%);
        -webkit-font-smoothing: antialiased;

        &:hover {
          background: darken($dark-gray, 10%);
          cursor: pointer;
        }
      }
    }

    section.player {
      margin-top: 60px;

      header {
        @extend .clearfix;
        border-top: 1px solid #ccc;
        padding: 20px 0;

        h2 {
          font: 48px $header-font-family;
          color: $dark-gray;
          float: left;
        }

        p {
          float: right;
          color: lighten($dark-gray, 40%);
          margin-top: 14px;
        }
      }

      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          text-indent: -9999px;
          width: 50px;
          height: 50px;
          background: url(../images/hotdog.png) 0 0 no-repeat;
        }
      }
    }
  }
}
