/* CSS Reset
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

/* Clearfix hack I love you */
.clearfix:after, body section.content section.player header:after, body section.content section.player ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, body section.content section.player header, body section.content section.player ul {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix, body section.content section.player header, body section.content section.player ul {
  display: block; }

/* End hide from IE Mac */
@font-face {
  font-family: '../fonts/ChunkFive';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: url("../fonts/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Chunkfive-webfont.woff") format("woff"), url("../fonts/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  text-align: center;
  font: 16px "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  body section.content {
    margin: 0 auto;
    max-width: 1000px; }
    body section.content header.main {
      margin: 0 auto 20px;
      max-width: 900px;
      text-align: left; }
      body section.content header.main h1 {
        font: 72px "ChunkFive", Helvetica, Arial, serif;
        margin: 60px 0 -10px;
        color: #595959; }
      body section.content header.main p {
        font-size: 18px;
        color: #bfbfbf;
        margin-left: .5em; }
    body section.content form input[type="text"] {
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      font: 24px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      padding: 6px 8px;
      -webkit-font-smoothing: antialiased;
      width: 48.821%; }
    body section.content form input[type="submit"] {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      font: 24px "ChunkFive", Helvetica, Arial, serif;
      padding: 8px 14px;
      border: 1px solid #333;
      -webkit-box-shadow: inset 0 1px 0 #8c8c8c;
      -moz-box-shadow: inset 0 1px 0 #8c8c8c;
      box-shadow: inset 0 1px 0 #8c8c8c;
      line-height: 1em;
      background: #595959;
      color: #fff;
      text-shadow: 0 -1px 0 #262626;
      -webkit-font-smoothing: antialiased; }
      body section.content form input[type="submit"]:hover {
        background: #3f3f3f;
        cursor: pointer; }
    body section.content section.player {
      margin-top: 60px; }
      body section.content section.player header {
        border-top: 1px solid #ccc;
        padding: 20px 0; }
        body section.content section.player header h2 {
          font: 48px "ChunkFive", Helvetica, Arial, serif;
          color: #595959;
          float: left; }
        body section.content section.player header p {
          float: right;
          color: #bfbfbf;
          margin-top: 14px; }
      body section.content section.player ul {
        list-style: none; }
        body section.content section.player ul li {
          float: left;
          text-indent: -9999px;
          width: 50px;
          height: 50px;
          background: url(../images/hotdog.png) 0 0 no-repeat; }
