@charset "UTF-8";
/* CSS Reset
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

/* Clearfix hack I love you */
.clearfix:after, body section.player header:after, body section.player ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, body section.player header, body section.player ul {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix, body section.player header, body section.player ul {
  display: block; }

/* End hide from IE Mac */
@font-face {
  font-family: 'ChunkFive';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: url("../fonts/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Chunkfive-webfont.woff") format("woff"), url("../fonts/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  text-align: center; }

body {
  font: 16px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin: 0 auto;
  max-width: 1000px; }
  body header.main {
    margin: 0 auto 20px;
    max-width: 900px;
    text-align: left; }
    body header.main h1 {
      font: 72px "ChunkFive", Helvetica, Arial, serif;
      margin: 80px 0 0;
      color: #e1553e; }
    body header.main p {
      font-size: 26px;
      text-align: center;
      padding: 0 60px;
      color: #bfbfbf; }
  body form input[type="text"] {
    border: 1px solid #ccc;
    font: 24px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    padding: 6px 8px;
    -webkit-box-shadow: inset 0 2px 3px #eeeeee;
    -moz-box-shadow: inset 0 2px 3px #eeeeee;
    box-shadow: inset 0 2px 3px #eeeeee;
    -webkit-font-smoothing: antialiased;
    width: 48.821%;
    outline: none; }
    body form input[type="text"]:focus {
      border-color: #000; }
  body form input[type="submit"] {
    font: 24px "ChunkFive", Helvetica, Arial, serif;
    padding: 8px 14px;
    border: 1px solid #333;
    -webkit-box-shadow: inset 0 1px 0 #8c8c8c;
    -moz-box-shadow: inset 0 1px 0 #8c8c8c;
    box-shadow: inset 0 1px 0 #8c8c8c;
    line-height: 1em;
    background: #595959;
    color: #fff;
    text-shadow: 0 -1px 0 #262626;
    -webkit-font-smoothing: antialiased; }
    body form input[type="submit"]:hover {
      background: #3f3f3f;
      cursor: pointer; }
  body section.player {
    margin-top: 60px; }
    body section.player header {
      border-top: 1px solid #eee;
      padding: 60px 0 20px; }
      body section.player header h2 {
        font: 48px "ChunkFive", Helvetica, Arial, serif;
        color: #5191bd;
        float: left;
        margin-right: 30px; }
      body section.player header div {
        float: right;
        color: #8c8c8c;
        margin-top: 4px; }
        body section.player header div strong {
          text-transform: uppercase;
          letter-spacing: 1px;
          display: inline-block; }
          body section.player header div strong:after {
            content: "–";
            padding: 0 10px;
            display: inline-block; }
      body section.player header aside {
        float: right;
        color: #bfbfbf;
        clear: right; }
    body section.player ul {
      list-style: none; }
      body section.player ul li {
        float: left;
        text-indent: -9999px;
        width: 50px;
        height: 50px;
        background: url(../images/hotdog.png) 0 0 no-repeat; }

ul.ui-autocomplete {
  background: #fff;
  width: 48.821%;
  list-style: none;
  border: 1px solid #ccc;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  ul.ui-autocomplete li {
    text-align: left; }
    ul.ui-autocomplete li a {
      display: block;
      padding: 10px; }
      ul.ui-autocomplete li a:focus, ul.ui-autocomplete li a:hover {
        background: #e3e3e3; }
